<%-  include("./includes/head.ejs")  %>
</head>
<body>
    <%-  include("./includes/navigation.ejs")  %>

    <h1 style ="color: red; background-color: black; display: flex;
    justify-content: center;align-items: center;height: 100vh;border: red solid 10px;"> the page is not  found </h1>

</body>
</html>