<%-  include("./includes/head.ejs")  %>
</head>
<body>
    <%-  include("./includes/navigation.ejs")  %>
    <main>
        <form  class="product-form"  method="POST" action="/admin/users"  >
            <div class="form-control" ></div> 
            <input type="text" name="username" id ="title"  >
             <button  type="submit"> add product</button>   
        </form>

    </main>
    
    <%-  include("./includes/end.ejs")  %>